* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

#navbar1 .navbar-nav .nav-link {
    color: silver;
}

.bg-light .navbar-brand {
    color: red;
}

.btn-primary {
    background-color: red;
    border-color: red;
}

.row {
    margin: auto;
    padding: auto;
}

input:required {
    border: 2px solid purple;
}

li {
    margin: 1vh 1vw;
    padding: 1vh 1vw;
    border-radius: 30px;
}

#userScore {
    margin: 1vh 1vw;
    padding: 1vh 1vw;
    border-radius: 5px;
    background-color: silver;
    color: black;
    height: auto;
}